.wrapperContainer {
	padding: 0 45px;
	margin: 40px auto;
	border: 1px solid #d9d9d9;
	border-radius: 15px;
	background-color: #fbfcff;
	width: fit-content;
}
.wrapperContainerTitle {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.wrapperContainerTitle p {
	margin: 0;
}
.wrapperInfo {
	max-width: 400px;
	margin: 0 auto;
	font-size: 15px;
	text-align: center;
}
.wrapperInfo b {
	color: #456eff;
}
